@model SimpleWebApp.Models.DropDownListModel

@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div class="form-group">
        <label>New option</label>
        @Html.TextBoxFor(p => p.NewOption, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>My options</label>
        @Html.DropDownList("Options", new SelectList(Model.Options), new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    for (int i = 0; i < Model.Options.Count; i++)
    {
        @Html.HiddenFor(model => Model.Options[i])
    }

}


